.header {
    background-color: olivedrab;
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
}

.nav-bar-list {
    margin: 0;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.nav-bar-list-item {
    display: flex;
    padding-right: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar-list-item a {
    text-decoration: none;
    color: white;
}

main{
    padding-top: 1em;
    padding-left: 3rem;
}

input{
    border: 2px solid black;
}

button{
    border-radius: 1em;
    background-color: burlywood;
}